@use "components/header" as *;
@use "components/footer" as *;
@use "base" as *;
@use "abstracts" as *;

body {
  @include flex-column;
  background-color: var(--color-500);
  color: var(--color-900);
  font-family: $font-stack;
  min-height: 97vh;
  width: 100vw;
  overflow: hidden;

  & * {
    transition: background-color 0.15s ease-out;
  }

  &.light-mode {
    .logo__img {
      filter: invert(1) contrast(2);
    }

    .switch-mode {
      filter: invert(0.1);
      transition: all 0.3s ease-out;

      &:hover {
        rotate: 360deg;
      }
    }
  }

  main {
    width: 100vw;
    height: 75vh;
    max-height: 75vh;
    display: grid;
    place-items: center;

    transition: all 0.3s ease-out;

    .wrapper-main {
      @include flex-column;
      height: 100%;
      width: 90vw;
      content-visibility: auto;

      .cookie-policy {
        max-width: 130ch;

        * {
          font-weight: normal;
        }

        h2 {
          font-size: 1.2rem;
          font-weight: 500;
          padding-top: 0.4em;
        }

        p, li {
          line-height: 1.1em;
          text-align: justify;
        }

        ul {
          padding-left: 0.7em;
          margin: 0;
          list-style: none;

          li {
            padding-top: 0.3em;

            &::marker {
              content: "| ";
              color: var(--color-700);
              font-size: 1.4rem;
            }
          }
        }

        // Set color of the link underline without text decoration
        a {
          border-bottom: 1px solid var(--color-700);
          transition: border-bottom 0.1s ease-out;

          &:hover {
            border-bottom: 1px solid var(--color-accent-aqua);
          }
        }


        h3 {
          padding-top: 0.9em;
          color: var(--color-accent-aqua);
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  body {
    min-height: fit-content;
    overflow: auto;

    main {
      height: auto;
      max-height: unset;
      margin: 10vh 0 5vh;

      .wrapper-main {
        height: fit-content;

        transition: margin-top 0.3s ease;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  body main {
    margin: 10vh 0 10vh;
  }
}
