@use "components/header" as *;
@use "components/footer" as *;
@use "base" as *;
@use "abstracts" as *;

body {
  @include flex-column;
  background-color: var(--color-500);
  color: var(--color-900);
  font-family: $font-stack;
  min-height: 97vh;
  width: 100vw;
  overflow: hidden;

  & * {
    transition: background-color 0.15s ease-out;
  }

  &.light-mode {
    .logo__img {
      filter: invert(1) contrast(2);
    }

    .switch-mode {
      filter: invert(0.1);
      transition: all 0.3s ease-out;

      &:hover {
        rotate: 360deg;
      }
    }
  }

  main {
    width: 100vw;
    height: 75vh;
    max-height: 75vh;
    display: grid;
    place-items: center;

    transition: all 0.3s ease-out;

    .cookie-consent {
      @include flex-row;
      gap: 3em;
      align-items: center;
      justify-items: center;
      position: fixed;
      top: 70%;
      left: 50%;
      translate: -50% -50%;
      background: var(--color-500);
      border: 2px solid var(--color-accent-aqua);
      border-radius: 1em;
      padding: 1.5em;
      z-index: 1002;
      width: 70vw;
      max-width: 70em;

      &__title {
        font-size: 1.7rem;
      }

      &__text {
        margin: 0.5em 0;
        text-align: justify;
      }

      &__link {
        margin-top: 0.5em;
        display: inline-block;
        border-bottom: 2px solid var(--color-700);
        transition: border-bottom 0.1s ease-out;

        &:hover {
          border-bottom: 2px solid var(--color-accent-aqua);
        }

        &:focus-visible {
          border-color: transparent;
          border-radius: 2em;
          outline: solid 1.5px var(--color-accent-aqua);
          outline-offset: 0.4em;
        }
      }

      &__button-wrapper {
        @include flex-column;
        margin: 0.5em 1em 0 0;

        .cookie-consent__button {
          text-align: center;
          border: none;
          border-radius: 2em;
          cursor: pointer;

          transition: background-color 0.15s ease-out, translate 0.1s ease-out;

          &--accept {
            color: var(--color-500);
            background-color: var(--color-accent-aqua);
            padding: 0.7em 1.3em;
            font-size: 1.1rem;

            &:hover {
              background-color: var(--color-accent-aqua-hover);
            }

            &:focus-visible {
              outline: solid 1.5px var(--color-accent-aqua);
              outline-offset: 0.2em;
            }
          }

          &--reject {
            color: var(--color-accent-red);
            background-color: transparent;
            margin-top: 0.5em;
            padding: 0.5em 1em;
            font-size: 0.9rem;

            &:hover {
              background-color: var(--color-300-hover);
            }

            &:focus-visible {
              outline: solid 1.5px var(--color-accent-red);
            }
          }
        }
      }
    }

    .cookie-consent-backdrop {
      position: absolute;
      top: 0;
      right: 0;
      width: 100vw;
      height: 100vh;
      background-color: var(--color-600-muted-bg);
      z-index: 1001;

      transition: opacity 0.2s ease-out;
    }

    .wrapper-main {
      @include flex-column;
      height: 100%;
      width: 70vw;

      .feedback {
        @include flex-column;
        gap: 2em;

        * {
          font-weight: normal;
        }

        form {
          @include flex-column;
          gap: 2em;
          padding: 3em;
          border: 1.5px solid var(--color-accent-aqua);
          border-radius: 1em;

          fieldset {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2em;

            margin: 0;
            padding: 0;
            border: none;

            div {
              label {
                display: inline-block;
                height: 3rem;
                display: inline-flex;
                align-items: center;

                .optional {
                  font-size: 0.8rem;
                  color: var(--color-700-muted);
                  margin-left: 0.5em;
                }
              }

              textarea {
                margin-top: 0.5em;
                padding: 0.7em;
                width: 100%;
                height: 12vh;
                color: var(--color-900);
                background-color: transparent;
                border: 2px solid var(--color-700);
                border-radius: 1em;
                resize: none;

                &:focus-visible {
                  outline: solid 1.5px var(--color-accent-aqua);
                  outline-offset: 0.2em;
                }

                &::-webkit-scrollbar {
                  width: 8px;
                }

                &::-webkit-scrollbar-track {
                  background: transparent; // The scrollbar track on iOS is invisible.
                }

                &::-webkit-scrollbar-thumb {
                  background-color: var(--color-scrollbar);
                  border-radius: 4px;
                  border: 2px solid transparent;
                  background-clip: padding-box; // Prevents the background color from extending to the border edge.
                }

                &::-webkit-scrollbar-thumb:hover {
                  background-color: var(--color-scrollbar-hover);
                }
              }
            }
          }

          .btn-main {
            color: var(--color-500);
            text-align: center;
            background-color: var(--color-accent-aqua);
            padding: 0.5em 1.5em;
            border: none;
            border-radius: 2em;
            font-size: 1.1rem;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;

            transition: background-color 0.15s ease-out, translate 0.1s ease-out;

            &:hover {
              background-color: var(--color-accent-aqua-hover);
            }

            &:focus-visible {
              outline: solid 1.5px var(--color-accent-aqua);
              outline-offset: 0.2em;
            }

            &--error {
              background-color: var(--color-accent-red-hover);
              color: var(--color-900);

              &:hover {
                background-color: var(--color-accent-red);
              }

              &:focus-visible {
                outline: solid 1.5px var(--color-accent-red-hover);
              }
            }
          }
        }

        // Set color of the link underline without text decoration
        a {
          border-bottom: 1px solid var(--color-700);
          transition: border-bottom 0.1s ease-out;

          &:hover {
            border-bottom: 1px solid var(--color-accent-aqua);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  body {
    min-height: fit-content;
    overflow: auto;

    main {
      height: auto;
      max-height: unset;
      margin: 10vh 0 5vh;

      .cookie-consent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 2em;
        top: 60%;

        &__title {
          font-size: 1.8rem;
          text-align: center;
        }

        &__text {
          font-size: 1.1rem;
        }

        .cookie-consent__button-wrapper {
          margin: 0.5em 1em 0 0;

          .cookie-consent__button {
            &--accept {
              padding: 0.5em 1em;
            }

            &--reject {
              margin-top: 1em;
            }
          }
        }
      }

      .wrapper-main {
        height: fit-content;

        transition: margin-top 0.3s ease;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  body main {
    margin: 10vh 0 10vh;

    .cookie-consent {
      width: 80vw;

      &__title {
        font-size: 1.5rem;
      }

      &__text {
        font-size: 0.85rem;
      }
    }

    .wrapper-main {
      width: 90vw;

      .feedback {
        form {
          padding: 0;
          border: none;

          fieldset {
            grid-template-columns: auto;
            gap: 2em;

            div {
              label {
                display: inline;
              }

              textarea {
                height: 20vh;
              }

              #feedback-device {
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}
