@use "base" as *;
@use "abstracts" as *;
@use "components" as *;

body {
  @include flex-column;
  background-color: var(--color-500);
  color: var(--color-900);
  font-family: $font-stack;
  min-height: 97vh;
  width: 100vw;
  overflow: hidden;

  & * {
    transition: background-color 0.15s ease-out;
  }

  &.light-mode {
    .logo__img {
      filter: invert(1) contrast(2);
    }

    .switch-mode {
      filter: invert(0.1);
      transition: all 0.3s ease-out;

      &:hover {
        rotate: 360deg;
      }
    }

    .btn-add__img {
      filter: invert(1) contrast(2);
    }
  }

  main {
    width: 100vw;
    height: 75vh;
    display: grid;
    place-items: center;

    transition: all 0.3s ease-out;

    &:has(.screen-results.invisible) {
      translate: 0 20vh;

      .screen-results {
        opacity: 0;
      }
    }

    .wrapper-main {
      @include flex-column;
      height: 100%;
      width: 90vw;
      content-visibility: auto;

      .screen-results {
        opacity: 1;

        transition: all 0.4s ease-in-out;
      }
    }
  }
}
