@use "base" as *;
@use "abstracts" as *;
@use "components" as *;

body {
  @include flex-column;
  background-color: var(--color-500);
  color: var(--color-900);
  font-family: $font-stack;
  min-height: 97vh;
  width: 100vw;
  overflow: hidden;

  & * {
    transition: background-color 0.15s ease-out;
  }

  &.light-mode {
    .logo__img {
      filter: invert(1) contrast(2);
    }

    .switch-mode {
      filter: invert(0.1);
      transition: all 0.3s ease-out;

      &:hover {
        rotate: 360deg;
      }
    }

    .btn-add__img {
      filter: invert(1) contrast(2);
    }
  }

  main {
    width: 100vw;
    height: 75vh;
    max-height: 75vh;
    display: grid;
    place-items: center;

    transition: all 0.3s ease-out;

    &:has(.screen-results.invisible) {
      .screen-results {
        display: none;
      }
    }

    .wrapper-main {
      @include flex-column;
      height: 100%;
      width: 90vw;
      content-visibility: auto;

      .screen-results {
        opacity: 1;

        transition: opacity 0.3s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  body {
    min-height: fit-content;
    overflow: auto;

    main {
      height: auto;
      max-height: unset;
      margin: 10vh 0 5vh;

      &:has(.screen-results.invisible) {
        .wrapper-main {
          height: 115%;
        }
      }

      .wrapper-main {
        height: fit-content;

        transition: margin-top 0.3s ease;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  body main {
    margin: 10vh 0 10vh;
    //translate: 0 17vw;
  }
}
