@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&family=Kumbh+Sans:wght@400;500;600&display=swap");
:root {
  --color-transparent: rgba(0, 0, 0, 0);
  --color-900: hsl(210, 12%, 97%);
  --color-800: hsl(222, 10%, 80%);
  --color-700: hsl(221, 17%, 55%);
  --color-700-muted: hsl(221, 17%, 65%);
  --color-600: hsl(230, 18%, 20%);
  --color-600-muted: hsl(225, 12%, 20%);
  --color-600-muted-bg: hsla(225, 12%, 20%, 0.6);
  --color-500: hsl(220, 25%, 12%);
  --color-500-muted: hsl(231, 17%, 15%);
  --color-accent-red: hsl(0, 68%, 60%);
  --color-accent-red-hover: hsl(0, 45%, 50%);
  --color-accent-aqua: hsl(172, 65%, 70%);
  --color-accent-aqua-hover: hsl(172, 50%, 55%);
  --color-screen-1: hsl(220, 75%, 65%);
  --color-screen-1-transparent: hsla(220, 75%, 65%, 0.1);
  --color-screen-2: hsl(320, 85%, 62%);
  --color-screen-2-transparent: hsla(320, 85%, 62%, 0.1);
  --color-screen-3: hsl(25, 85%, 63%);
  --color-screen-3-transparent: hsla(25, 85%, 63%, 0.1);
  --shadow-elevation: 0px 5px 36px rgba(0, 0, 0, 0.25);
  --shadow-red: 0px 0px 12px 2px hsla(0, 70%, 60%, 0.4);
  --shadow-kofi: -10px 15px 50px 5px rgba(0, 0, 0, 0.7);
}
:root .light-mode {
  --color-900: hsl(230, 18%, 20%);
  --color-800: hsl(225, 12%, 20%);
  --color-700: hsl(221, 24%, 69%);
  --color-700-muted: hsl(221, 24%, 60%);
  --color-600: white;
  --color-600-muted: white;
  --color-600-muted-bg: hsla(0, 0%, 100%, 0.5);
  --color-500: hsl(210, 17%, 97%);
  --color-500-muted: white;
  --color-accent-red: hsl(0, 75%, 50%);
  --color-accent-red-hover: hsl(0, 55%, 50%);
  --color-accent-aqua: hsl(172, 60%, 55%);
  --color-accent-aqua-hover: hsl(172, 50%, 50%);
  --color-screen-1: hsl(218, 70%, 60%);
  --color-screen-1-transparent: hsla(220, 75%, 65%, 0.1);
  --color-screen-2: hsl(320, 85%, 62%);
  --color-screen-2-transparent: hsla(320, 85%, 62%, 0.1);
  --color-screen-3: hsl(25, 85%, 63%);
  --color-screen-3-transparent: hsla(25, 85%, 63%, 0.1);
  --shadow-elevation: 0px 4px 36px rgba(0, 0, 0, 0.05);
  --shadow-red: -2px 2px 10px 1px hsla(0, 70%, 60%, 0.4);
  --shadow-kofi: -10px 15px 50px 5px rgba(0, 0, 0, 0.1);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-600);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 9vh;
  width: 100vw;
  box-shadow: var(--shadow-elevation);
  z-index: 1000;
}
header *:focus-visible {
  outline: solid 1.5px var(--color-accent-aqua);
}
header .logo {
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  margin-left: 3vh;
  height: 2.2em;
  display: grid;
  place-items: center;
  cursor: pointer;
  outline-offset: 0.5em;
}
header .logo__img {
  height: 2.2em;
}
header .title {
  display: grid;
  place-items: center;
  font-family: "Josefin Slab", "Kumbh Sans", "Helvetica", sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  text-align: center;
  height: 100%;
  width: 40vw;
  border-bottom: solid 1.5px var(--color-accent-aqua);
  cursor: pointer;
  outline-offset: -0.3em;
  transition: all 0.15s ease-out;
}
header .title:hover {
  width: 43vw;
}
header .buttons {
  margin-right: 3vw;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 23vw;
  max-width: 12em;
  min-width: 4.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .buttons .switch-mode {
  width: 2em;
  height: 2em;
  cursor: pointer;
  outline-offset: 0.4em;
  border-radius: 50%;
  color: var(--color-900);
  transition: all 0.1s ease-out;
}
header .buttons .switch-mode:hover {
  rotate: 30deg;
}
header .buttons .ko-fi {
  background-color: var(--color-accent-aqua);
  padding: 0.4em 1.2em 0.4em 1em;
  border-radius: 2em;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline-offset: 0.2em;
  transition: background-color 0.15s ease-out;
}
header .buttons .ko-fi:hover {
  background-color: var(--color-accent-aqua-hover);
}
header .buttons .ko-fi__img {
  width: 2em;
  margin-right: 1vw;
  animation: wobble-const 3s ease-in-out infinite normal forwards;
}
@keyframes wobble-const {
  0%, 100% {
    translate: -3px -1px;
    rotate: 8deg;
  }
  50% {
    translate: 1px -1px;
    rotate: -8deg;
  }
}
@keyframes rotate-const {
  0%, 100% {
    rotate: 8deg;
  }
  50% {
    rotate: -8deg;
  }
}
header .buttons .ko-fi__text {
  color: var(--color-500-muted);
  font-size: 0.95rem;
  font-weight: 500;
}
header .kofi-wrapper {
  position: absolute;
  top: 9vh;
  right: 0;
  width: 21em;
  height: 81vh;
  box-shadow: var(--shadow-kofi);
  border-radius: 1em 0 0 1em;
  z-index: 999;
  translate: 120% 0;
  transition: translate 0.2s ease-out;
}
header .kofi-wrapper iframe {
  border-radius: 1em 0 0 1em;
  height: 100%;
  translate: 0;
}
header .kofi-backdrop {
  position: absolute;
  top: 9vh;
  right: 0;
  width: 100vw;
  height: 81vh;
  background-color: var(--color-600-muted-bg);
  z-index: 998;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

@media screen and (max-width: 1000px) {
  header .buttons .switch-mode {
    margin-right: 0.5em !important;
  }
  header .buttons .ko-fi__img {
    margin-right: 0;
  }
}
@media screen and (max-width: 550px) {
  header {
    height: 15vw;
  }
  header .logo {
    height: 1.2em;
  }
  header .logo__img {
    height: 1.2em;
  }
  header .title {
    font-size: 1.4rem;
  }
  header .buttons {
    width: 16vw;
  }
  header .buttons .switch-mode {
    width: 1.5em;
    height: 1.5em;
  }
  header .buttons .ko-fi {
    width: 2em;
    height: 2em;
    padding: 0;
    border-radius: 50%;
  }
  header .buttons .ko-fi__img {
    width: 1.8em;
    margin-right: 0;
    translate: 2px;
    animation: rotate-const 3s ease-in-out infinite normal forwards;
  }
  header .buttons .ko-fi__text {
    display: none;
  }
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 15vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 10vh;
  background-color: var(--color-500-muted);
  font-size: 0.9rem;
  z-index: 1000;
}
.footer__credits {
  width: 100%;
  text-align: center;
}
.footer__divider {
  width: 1.5px;
  height: 55%;
  background-color: var(--color-900);
}
.footer__links {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.footer__links > * {
  margin: 1em;
  border-radius: 1em;
}
.footer__links > a:hover {
  color: var(--color-accent-aqua);
}
.footer__links > a:focus-visible {
  outline: solid 1px var(--color-accent-aqua);
  outline-offset: 0.4em;
}
.footer__dot {
  font-size: 2.5em;
  margin: 1em;
}

@media screen and (max-width: 1000px) {
  .footer {
    height: 7em;
    position: relative;
    padding: 0;
  }
  .footer__links > * {
    margin: 0;
  }
  .footer__dot {
    margin: 0.5em;
  }
}
@media screen and (max-width: 550px) {
  .footer {
    padding: 0 15vw 2vh;
    height: 20vh;
    font-size: 0.8rem;
    flex-direction: column;
  }
  .footer__divider {
    width: 20%;
    height: 1.5px;
  }
  .footer__links > * {
    margin: 0 0.5em;
  }
  .footer__dot {
    line-height: 0.5;
    margin: 0 0.3em;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  appearance: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.no-transitions * {
  transition: none !important;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.transparent {
  opacity: 0 !important;
}

::selection {
  background-color: var(--color-accent-aqua);
  color: var(--color-500);
}

a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: var(--color-900);
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-500);
  color: var(--color-900);
  font-family: "Kumbh Sans", "Helvetica", sans-serif;
  min-height: 97vh;
  width: 100vw;
  overflow: hidden;
}
body * {
  transition: background-color 0.15s ease-out;
}
body.light-mode .logo__img {
  filter: invert(1) contrast(2);
}
body.light-mode .switch-mode {
  filter: invert(0.1);
  transition: all 0.3s ease-out;
}
body.light-mode .switch-mode:hover {
  rotate: 360deg;
}
body main {
  width: 100vw;
  height: 75vh;
  max-height: 75vh;
  display: grid;
  place-items: center;
  transition: all 0.3s ease-out;
}
body main .wrapper-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90vw;
  content-visibility: auto;
}
body main .wrapper-main .cookie-policy {
  max-width: 130ch;
}
body main .wrapper-main .cookie-policy * {
  font-weight: normal;
}
body main .wrapper-main .cookie-policy h2 {
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 0.4em;
}
body main .wrapper-main .cookie-policy p, body main .wrapper-main .cookie-policy li {
  line-height: 1.1em;
  text-align: justify;
}
body main .wrapper-main .cookie-policy ul {
  padding-left: 0.7em;
  margin: 0;
  list-style: none;
}
body main .wrapper-main .cookie-policy ul li {
  padding-top: 0.3em;
}
body main .wrapper-main .cookie-policy ul li::marker {
  content: "| ";
  color: var(--color-700);
  font-size: 1.4rem;
}
body main .wrapper-main .cookie-policy a {
  border-bottom: 1px solid var(--color-700);
  transition: border-bottom 0.1s ease-out;
}
body main .wrapper-main .cookie-policy a:hover {
  border-bottom: 1px solid var(--color-accent-aqua);
}
body main .wrapper-main .cookie-policy h3 {
  padding-top: 0.9em;
  color: var(--color-accent-aqua);
}

@media screen and (max-width: 1000px) {
  body {
    min-height: fit-content;
    overflow: auto;
  }
  body main {
    height: auto;
    max-height: unset;
    margin: 10vh 0 5vh;
  }
  body main .wrapper-main {
    height: fit-content;
    transition: margin-top 0.3s ease;
  }
}
@media screen and (max-width: 550px) {
  body main {
    margin: 10vh 0 10vh;
  }
}

/*# sourceMappingURL=cookie-policy.css.map */
