@use "../abstracts" as *;

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 15vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  height: 10vh;
  background-color: var(--color-500-muted);
  font-size: 0.9rem;
  z-index: 1000;

  &__credits {
    width: 100%;
    text-align: center;
  }

  &__divider {
    width: 1.5px;
    height: 55%;
    background-color: var(--color-900);
  }

  &__links {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    & > * {
      margin: 1em;
      border-radius: 1em;
    }

    & > a:hover {
      color: var(--color-accent-aqua);
    }

    & > a:focus-visible {
      outline: solid 1px var(--color-accent-aqua);
      outline-offset: 0.4em;
    }
  }

  &__dot {
    font-size: 2.5em;
    margin: 1em;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    padding: 0;

    &__links > * {
      margin: 0;
    }

    &__dot {
      margin: 0.5em;
    }
  }
}

@media screen and (max-width: 500px) {
  .footer {
    position: relative;
    height: 20vh;
    font-size: 0.8rem;
    flex-direction: column;

    &__divider {
      width: 20%;
      height: 1.5px;
    }

    &__links {
      & > * {
        margin: 0 0.5em;
      }
    }

    &__dot {
      //font-size: 0.8rem;
      line-height: 0.5;
      margin: 0 0.3em;
    }
  }
}
