@use "../abstracts" as *;

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-600);
  @include flex-column;
  height: 9vh;
  width: 100vw;
  box-shadow: var(--shadow-elevation);
  z-index: 1000;

  & *:focus-visible {
    outline: solid 1.5px var(--color-accent-aqua);
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    margin-left: 3vh;
    height: 2.2em;
    display: grid;
    place-items: center;
    cursor: pointer;
    outline-offset: 0.5em;

    &__img {
      height: 2.2em;
    }
  }

  .title {
    display: grid;
    place-items: center;
    font-family: "Josefin Slab", $font-stack;
    font-weight: 500;
    font-size: 2.2rem;
    text-align: center;
    height: 100%;
    width: 40vw;
    border-bottom: solid 1.5px var(--color-accent-aqua);
    cursor: pointer;
    outline-offset: -0.3em;

    &:hover {
      width: 43vw;
    }

    transition: all 0.15s ease-out;
  }

  .buttons {
    margin-right: 3vw;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 23vw;
    max-width: 12em;
    min-width: 4.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .switch-mode {
      width: 2em;
      height: 2em;
      cursor: pointer;
      outline-offset: 0.4em;
      border-radius: 50%;
      color: var(--color-900);

      transition: all 0.1s ease-out;

      &:hover {
        rotate: 30deg;
      }
    }

    .ko-fi {
      background-color: var(--color-accent-aqua);
      padding: 0.4em 1.2em 0.4em 1em;
      border-radius: 2em;
      border: none;
      cursor: pointer;
      @include flex-row;
      outline-offset: 0.2em;

      transition: background-color 0.15s ease-out;

      &:hover {
        background-color: var(--color-accent-aqua-hover);
      }

      &__img {
        width: 2em;
        margin-right: 1vw;

        animation: wobble-const 3s ease-in-out infinite normal forwards;

        @keyframes wobble-const {
          0%,
          100% {
            translate: -3px -1px;
            rotate: 8deg;
          }
          50% {
            translate: 1px -1px;
            rotate: -8deg;
          }
        }

        @keyframes rotate-const {
          0%,
          100% {
            rotate: 8deg;
          }
          50% {
            rotate: -8deg;
          }
        }
      }

      &__text {
        color: var(--color-500-muted);
        font-size: 0.95rem;
        font-weight: 500;
      }
    }
  }

  .kofi-wrapper {
    position: absolute;
    top: 9vh;
    right: 0;
    width: 21em;
    height: 100vh - 9vh - 10vh;
    box-shadow: var(--shadow-kofi);
    border-radius: 1em 0 0 1em;
    z-index: 999;
    translate: 120% 0;

    transition: translate 0.2s ease-out;

    iframe {
      border-radius: 1em 0 0 1em;
      height: 100%;
      translate: 0;
    }
  }

  .kofi-backdrop {
    position: absolute;
    top: 9vh;
    right: 0;
    width: 100vw;
    height: 100vh - 9vh - 10vh;
    background-color: var(--color-600-muted-bg);
    z-index: 998;
    opacity: 0;

    transition: opacity 0.2s ease-out;
  }
}

@media screen and (max-width: 1025px) {
  header .buttons {
    .switch-mode {
      margin-right: 0.5em !important;
    }

    .ko-fi__img {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 550px) {
  header {
    height: 15vw;

    .logo {
      height: 1.2em;

      &__img {
        height: 1.2em;
      }
    }

    .title {
      font-size: 1.4rem;
    }

    .buttons {
      width: 16vw;

      .switch-mode {
        width: 1.5em;
        height: 1.5em;
      }

      .ko-fi {
        width: 2em;
        height: 2em;
        padding: 0;
        border-radius: 50%;

        &__img {
          width: 1.8em;
          margin-right: 0;
          translate: 2px;

          animation: rotate-const 3s ease-in-out infinite normal forwards;
        }

        &__text {
          display: none;
        }
      }
    }
  }
}
