@use "../abstracts" as *;

.not-found {
  width: 50vw;
  height: 80vh;
  @include flex-column;
  gap: 4em;
  text-align: left;

  .wrapper-404 {

    text-align: center;

    a {
      color: $dark-500;
      text-align: center;
      background-color: $dark-accent-aqua;
      border: none;
      border-radius: 2em;
      padding: 0.5em 1.5em;
      font-size: 1.1rem;
      cursor: pointer;

      transition: background-color 0.15s ease-out, translate 0.1s ease-out;

      &:hover {
        background-color: $dark-accent-aqua-hover;
      }

      &:focus-visible {
        outline: solid 1.5px $dark-accent-aqua;
        outline-offset: 0.2em;
      }
    }

    p {
      margin-top: 1.5em;
      font-size: 0.8rem;
    }
  }
}
