@use "../abstracts" as *;

.screen-forms {
  @include flex-row;
  justify-content: space-between;
  width: 100%;

  transition: all $transition-forms;
}

.wrapper-main:has(.screen-results.invisible) {
  .screen-forms--double {
    translate: calc(27.5vw * 0.5 + (100% - (3 * 27.5vw)) / 4);
  }
}

@media screen and (max-width: 1000px) {
  .screen-forms {
    @include flex-column;
  }

  .wrapper-main:has(.screen-results.invisible) {
    .screen-forms--double {
      translate: 0;
    }
  }
}
