@use "../abstracts" as *;

.screen-forms {
  @include flex-row;
  justify-content: space-between;
  width: 100%;

  transition: all $transition-forms;
}

.wrapper-main:has(.screen-results.invisible) {
  .screen-forms--double {
    translate: calc(27.5vw * 0.5 + (100% - (3 * 27.5vw)) / 4);
  }
}

.common-screens-dialog {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-600);
  padding: 2em;
  border: none;
  border-radius: 1em;
  color: var(--color-900);

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3em;
  }

  &__column {
    padding: 0.8em;
    border-top: 1px solid var(--color-700);
    border-bottom: 1px solid var(--color-700);
  }

  h1 {
    padding-bottom: 1em;
    font-size: 1.5rem;
    font-weight: normal;
    color: var(--color-900);
    text-align: center;
  }

  h2 {
    padding-bottom: 0.5em;
    font-weight: normal;
    color: var(--color-800);
    text-align: center;
  }

  ol {
    margin: 0;
    padding: 0;
    list-style-type: decimal !important;
    tab-size: 6;
    list-style-position: inside;

    li {
      margin: 0;
      padding-bottom: 0.4em;
      width: 100%;
      position: relative;

      &:hover {
        cursor: pointer;
      }

      &::marker {
        color: var(--color-700-muted);
      }

      span {
        display: inline;
        position: absolute;
        left: 1.5em;

        &:hover {
          color: var(--color-accent-aqua);
        }
      }

      pre {
        display: inline;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .screen-forms {
    @include flex-column;
  }

  .wrapper-main:has(.screen-results.invisible) {
    .screen-forms--double {
      translate: 0;
    }
  }
}
