@use "../abstracts" as *;

.details__top {
  width: 100%;
  height: 15%;
  display: grid;
  grid-template-columns: 3fr 8fr;
  align-items: center;
  border-bottom: 1px solid var(--color-700);

  .top__units {
    position: relative;
    width: 100%;
    height: 100%;
    @include flex-row;
    border-right: 1px solid var(--color-700);
    background-color: var(--color-600-muted);
    border-radius: 1em 0 0 0;

    .text-toggle-switch {
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 3.8em;
      height: fit-content;

      &:has(:focus-visible) {
        outline: 1px solid var(--color-accent-aqua);
        outline-offset: 1px;
      }

      .text-units-box {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
        z-index: 1;
      }

      .text-units-switch {
        width: 0;
        height: 0;
        opacity: 0;

        &:focus {
          outline-color: var(--color-accent-aqua);

          &:not(:focus-visible) {
            outline: 0;
          }
        }

        &:checked + .text-units-slider {
          width: 50%;
          translate: -5%;
        }
      }

      .text-units-slider {
        position: absolute;
        top: 95%;
        left: 50%;
        translate: -135%;
        width: 37%;
        height: 0.1em;
        cursor: pointer;
        background-color: var(--color-accent-aqua);
        transition: all 0.1s ease-in-out;
      }
    }

    .text-units-label {
      cursor: pointer;
    }
  }

  .top__ref-screen-bar {
    position: relative;
    @include flex-row;
    justify-content: space-around;
    padding-bottom: 0.6em;
    height: 100%;

    --screen-index: 0;
    --tab-width: 33.33%;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: var(--tab-width);
      height: 2px;
      background-color: var(--color-accent-aqua);
      translate: calc(var(--screen-index) * 100%);

      transition: translate 0.1s ease-out;
    }

    .ref-screen {
      position: relative;
      border: none;
      background: transparent;
      color: var(--color-900);
      font-size: clamp(0.9rem, 0.7vw, 0.7vw);
      cursor: pointer;
      width: 100%;
      height: 100%;

      &::before {
        content: "";
        position: absolute;
        bottom: 5%;
        left: 50%;
        translate: -50%;
        width: 0.3em;
        height: 0.3em;
        border-radius: 50%;
      }

      &:is(:nth-child(1)) {
        font-weight: 600;

        &::before {
          background-color: var(--color-screen-1);
        }
      }

      &:is(:nth-child(2)) {
        &::before {
          background-color: var(--color-screen-2);
        }
      }

      &:is(:nth-child(3)) {
        &::before {
          background-color: var(--color-screen-3);
        }
      }
    }
  }
}

.details__content {
  width: 100%;
  height: 85%;
  display: grid;
  grid-template-columns: 3fr 8fr;

  & > * {
    width: 100%;
    height: 100%;
    padding: 1em 0 2em;
    font-size: clamp(0.9rem, 0.7vw, 0.7vw);
  }

  .details__description {
    @include flex-column;
    justify-content: space-around;
    border-right: 1px solid var(--color-700);
    // FIXME: shifted by font-size, make it grid?

    .ppi-guide {
      transition: opacity 0.15s ease-out;
    }
  }

  .details__values {
    @include flex-column;
    justify-content: space-around;

    .values__row {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      place-items: center;

      .row__value {
        position: relative;
        text-align: center;
        --value-reference: "(100%)";

        &::before {
          content: var(--value-reference);
          position: absolute;
          bottom: -55%;
          left: 50%;
          translate: -50%;
          color: var(--color-800);
          font-size: clamp(0.7rem, 0.55vw, 0.55vw);
        }

        &.ppi {
          transition: opacity 0.15s ease-out;

          &::after {
            content: "?";
            font-size: 0.7rem;
            position: absolute;
            top: 50%;
            right: -2.5em;
            translate: 0 -10%;
            width: 1.4em;
            height: 1.4em;
            background-color: var(--validation-color); // green, darkgoldenrod, brown
            border-radius: 50%;
          }

          &.hide-pseudo::before,
          &.hide-pseudo::after {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .details__content > * {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 550px) {
  .details__top {
    font-size: 0.8rem;

    .top__ref-screen-bar {
      .ref-screen {
        font-size: 0.8rem;
      }
    }
  }
}

// TODO: Units switch focus border
