@font-face {
  font-family: "Raleway Light";
  src: local("Raleway Light"), url("../../assets/fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: "Raleway Light Italic";
  src: local("Raleway Light italic"), url("../../assets/fonts/Raleway-LightItalic.ttf");
}

@font-face {
  font-family: "Raleway ExtraLight";
  src: local("Raleway Extra-light"), url("../../assets/fonts/Raleway-ExtraLight.ttf");
}

@font-face {
  font-family: "Raleway ExtraLight Italic";
  src: local("Raleway Extra-light italic"),
  url("../../assets/fonts/Raleway-ExtraLightItalic.ttf");
}

@font-face {
  font-family: "Raleway";
  src: local("Raleway"), url("../../assets/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway Italic";
  src: local("Raleway italic"), url("../../assets/fonts/Raleway-Italic.ttf");
}

@font-face {
  font-family: "Marydale";
  src: local("Marydale"), url("../../assets/fonts/marydale.ttf");
}